{% extends "base.html" %}

{% block content %}
    <div class="max-w-5xl mx-auto px-4 mt-6">
        {% with active_link='dashboard' %}
            {% include "navbar.html" %}
        {% endwith %}
        <h1>Dashboard</h1>
        <div class="grid grid-cols-2">
            <div class="col-span-2">
                <h4>Bulletin Board</h4>
                <p>Imagine a huge list of announcements here.</p>
            </div>
            <div>
                <h4>Recent Orders</h4>
                <p>Imagine a table here!</p>
            </div>
            <div>
                <h4>Inventory Alerts</h4>
                <p>And an evil, scary table here!</p>
            </div>
            
        </div>
    </div>
{% endblock content %}