{% extends "base.html" %}

{% block content %}
    <div class="max-w-5xl mx-auto px-4 my-6">
        {% with active_link='services' %}
            {% include "navbar.html" %}
        {% endwith %}
        <h1>Editing "{{model.name}}"</h1>
        <a class="block max-w-fit" href="{{ url_for('services.homepage', id = model.id, url_type=model.url_type) }}">Go back</a>
        <form class="mt-4" action="{{url_for('services.save', id=model.id, url_type=model.url_type)}}" method="post">
            {{ model.to_form()|safe }}
            {% with input_type='checkbox', attr = 'delete', label = 'Delete (cannot be undone)', label_classes='text-red-500', input_classes="accent-red-500" %}
                {% include "form_controls.html" %}
            {% endwith %}
            {% with text="Save", color="violet" %}
                {% include "button.html" %}
            {% endwith %}
        </form>
        {% if model.url_type == 'service' %}
            <h2>Required fields</h2>
            {% if model.all_field_children != [] %}
                {% for child in model.all_field_children %}
                    <p>{{child.name}} (<a href="{{url_for('services.edit', id = child.id, url_type=child.url_type)}}">Edit</a>)</p>
                {% endfor %}
            {% else %}
                <p>No required fields.</p>
            {% endif %}
            <form action="{{url_for('services.new')}}" method="post">
                <input type="hidden" name="parent_service_id" value="{{model.id}}">
                <select name="type_select" id="type_select">
                    {% for type in all_types %}
                        <option value="{{type}}">{{type}}</option>
                    {% endfor %}
                </select>
                {% with text="Add New Field", color="violet" %}
                    {% include "button.html" %}
                {% endwith %}
            </form>
            <h2>Child services</h2>
            {% if model.child_services %}
                {% for child in model.child_services %}
                    <p>{{child.name}} (<a href="{{url_for('services.edit', id = child.id, url_type=child.url_type)}}">Edit</a>)</p>
                {% endfor %}
            {% else %}
                <p>No child services.</p>
            {% endif %}
            <form class="mt-4" action="{{url_for('services.new')}}" method="post">
                <input type="hidden" name="type_select" value="service">
                <input type="hidden" name="parent_service_id" value="{{model.id}}">
                {% with text="Add New Service", color="violet" %}
                    {% include "button.html" %}
                {% endwith %}
            </form>
        {% endif %}

        {% if model.url_type == 'select' %}
            <h2>Selectables</h2>
            {% for child in model.selectables %}
                <p>{{child.name}} (<a href="{{url_for('services.edit', id = child.id, url_type=child.url_type)}}">Edit</a>)</p>
            {% endfor %}
            <form class="mt-4" action="{{url_for('services.new')}}" method="post">
                <input type="hidden" name="type_select" value="selectable">
                <input type="hidden" name="select_option_id" value="{{model.id}}">
                {% with text="Add New Selectable", color="violet" %}
                    {% include "button.html" %}
                {% endwith %}
            </form>
        {% endif %}
        
        <h2>Parent</h2>
        {% if model.parent_service %}
            <p>{{model.parent_service.name}} (<a href="{{url_for('services.edit', id = model.parent_service_id, url_type = model.parent_service.url_type)}}">Edit</a>)</p>
        {% elif model.select_option %}
            <p>{{model.select_option.name}} (<a href="{{url_for('services.edit', id = model.select_option_id, url_type = model.select_option.url_type)}}">Edit</a>)</p>
        {% else %}
            <p>No parent service.</p>
        {% endif %}
    </div>
{% endblock content %}