{% extends "base.html" %}

{% block content %}
    <div class="max-w-5xl mx-auto px-4 my-6">
        {% with active_link='services' %}
            {% include "navbar.html" %}
        {% endwith %}
        <h1>Editing "{{model.name}}"</h1>
        <a href="{{ url_for('services.view', id = model.id, url_type=model.url_type) }}">Go back</a>
        <form class="mt-4" action="{{url_for('services.save', id=model.id, url_type=model.url_type)}}" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{model.name}}">

            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10">{{model.description}}</textarea>

            <label for="price">Price (in $)</label>
            <input type="number" min="0" step="0.01" name="price" id="price" value="{{model.price}}">

            <label for="cost">Cost (in $)</label>
            <input type="number" min="0" step="0.01" name="cost" id="cost" value="{{model.cost}}">
            
            <label for="revenue">Revenue (in $)</label>
            <input type="number" min="0" step="0.01" name="revenue" id="revenue" value="{{model.revenue}}">

            <label for="total_cost">Total cost (in $)</label>
            <input type="number" min="0" step="0.01" name="total_cost" id="total_cost" value="{{model.total_cost}}">
            
            
            <label for="is_archived" class="text-red-500 flex gap-2 max-w-fit"><input type="checkbox" {% if model.is_archived %}checked{% endif %} name="is_archived" id="is_archived" value="True" class="inline-block accent-red-500"> <span class="mb-4">Archive?</span></label>
            <input type="hidden" name="is_archived" value="False">
            {% with text="Save", color="violet" %}
                {% include "button.html" %}
            {% endwith %}
        </form>
        <h2>Required fields</h2>
        {% if model.all_field_children != [] %}
            {% for child in model.all_field_children %}
                <p>{{child.name}} (<a href="{{url_for('services.edit', id = child.id, url_type=child.url_type)}}">Edit</a>)</p>
            {% endfor %}
        {% else %}
            <p>No required fields.</p>
        {% endif %}
        <form action="{{url_for('services.new')}}" method="post">
            <input type="hidden" name="parent_service_id" value="{{model.id}}">
            <select name="type_select" id="type_select">
                {% for type in all_types %}
                    <option value="{{type}}">{{type}}</option>
                {% endfor %}
            </select>
            {% with text="Add New Field", color="violet" %}
                {% include "button.html" %}
            {% endwith %}
        </form>
        <h2>Child services</h2>
        {% if model.child_services %}
            {% for child in model.child_services %}
                <p>{{child.name}} (<a href="{{url_for('services.edit', id = child.id, url_type=child.url_type)}}">Edit</a>)</p>
            {% endfor %}
        {% else %}
            <p>No child services.</p>
        {% endif %}
        <form class="mt-4" action="{{url_for('services.new')}}" method="post">
            <input type="hidden" name="type_select" value="model">
            <input type="hidden" name="parent_service_id" value="{{model.id}}">
            {% with text="Add New model", color="violet" %}
                {% include "button.html" %}
            {% endwith %}
        </form>
        <h2>Parent model</h2>
        {% if model.parent_service %}
            <p>{{model.parent_service.name}} (<a href="{{url_for('services.edit', id = model.parent_service_id, url_type = model.parent_service.url_type)}}">Edit</a>)</p>
        {% else %}
            <p>No parent model.</p>
        {% endif %}
    </div>
{% endblock content %}